/*Benefits of being a Corporate Sponsor*/

.container {
    display: flex;
    flex-direction: row;
    background-color: #BFD99E;
    max-width: 1065px;
    min-height: 335px;
    margin-left: -23px; 
    align-items: center;
    margin-bottom: 5%;
  }
  
  .container-in {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width:718px;
    min-height:263px;
  }
  
  .container-in h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
  }
  
  .container-in p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
  }
  
  .Knight3 {
    max-height: 100%; 
    margin-right: -16%;
  }
  
  @media screen and (max-width: 1000px){
    .container{
      flex-direction: column;
    }
    .container-in h1{
      font-size: 20px;
      text-align: left;
    }
    .container-in p{
      font-size: 20px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  