<div class="container-fluid">
    <div class="container-whitter-image">
            <img src="assets/images/IMG_0253.png" alt="StudentsofWhitter" class="custom-img">
            <p class="text-img-whitter">A class of students at Whittier.</p>
    </div>

    <div class="container-context">
        <p>
            Our Corporate Sponsorship enables companies to support a revolutionary program in their communities. Y Stem and Chess Inc. will supply the technical and nontechnical talent that companies will hire.
        </p>
    </div>

    <div class="container-list">
        <ul>
            <li>1200+ students reached in 5 states and 2 countries.</li>
            <li>In Demand: 25 Ada and Canyon county schools have signed up.</li>
            <li>Everyone wins because we build analytical skills with the very first lesson.</li>
            <li>Currently learning algebra to prepare for computer science curriculum Spring 2021.</li>
            <li>We have students learning computer science, the youngest is 10 and oldest is 14.</li>
        </ul>
    </div>

    <div class="custom-container">
        <img src="assets/images/chess_piece4.png" alt="Image 1" class="border-image odd">
        <img src="assets/images/chess_piece4.png" alt="Image 1" class="border-image even">
        <img src="assets/images/chess_piece4.png" alt="Image 1" class="border-image odd">
        <img src="assets/images/chess_piece4.png" alt="Image 1" class="border-image even">
        <app-tier-of-sponsors />
    </div>

    <app-corporate-sponsor-benefits/>

    <div class="custom2-container">
        <div class="custom2-1-container">
        <p>This is a sample and will be given in corporate colors</p>
        </div>
        <img src="assets/images/reward.png" alt="Knight_Sponsor" class="Knight-Sponsor">
    </div>

    <app-testimonial></app-testimonial>
    <app-board-member></app-board-member>
    
</div>

