<!--Tiers of Sponsorship-->
<div class="container text-center">
    <h1>Tiers of Sponsorship</h1>
    <br>
    <div class="in-container">
        <div class="row">
            <div class="col col_1">
                <h2>KNIGHT</h2>
                <img src="assets/images/Knight_Sponsorship.png" alt="knight" class="photo knight">
                <button><img src="assets/images/Become_a_knight.png" alt="button1" class="but button1"></button>
            </div>
            <div class="col col_2">
                <h2>ROOK</h2>
                <img src="assets/images/rook1.png" alt="rook" class="photo rook">
                <button><img src="assets/images/Become_A_Rook.png" alt="button2" class="butbutton2"></button>
            </div>
            <div class="col col_3">
                <h2>KING or QUEEN</h2>
                <img src="assets/images/king_and_queen.png" alt="king or queen" class="photo king_and_queen">
                <button><img src="assets/images/becomeakingorqueen.png" alt="button3" class="but button3"></button>
            </div>
        </div>
    </div>
</div>
